<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>アイデア創出アプリ</title>
    <meta name="description" content="アイデアのヒントになる場所">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style_index.css">
  </head>
  <body>
    <h1>アイデア共有スペース</h1>
    <h2>ジャンル：食べ物</h2>
    <div class="maincontents">
      <article>
        <div class="twitch">
          <div class="sticky tag idea">
            <p>Title</p>
            <p>Content</p>
            <p>Name</p>
            <p>いいね数　２５</p>
          </div><br>
          <div class="sticky green idea">
            <p>Title</p>
            <p>Content asdfghjkl;wertyuiopsdfghjklqwertyuisdfghjkwertyuisdfsdfghjksdfghghj</p>
            <p>Name</p>
            <p>いいね数　１３</p>
          </div><br>
          <div class="sticky yellow idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky blue idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky purple idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky red idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky tag idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky green idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky yellow idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky blue idea">
            <p>Title</p>
            <p>Content asdfghjk</p>
            <p>Name</p>
            <p>いいね数　５</p>
          </div><br>
          <!-- <footer>
            <div class="">
              aaaa
            </div>
          </footer> -->
        </div>
      </article>
      <aside>
        <div class="circleTopL"></div>
        <div class="circleTopR"></div>
        <h3>ジャンル</h3>
        <ul class="genre">
          <li>
            <a href="#">食べ物</a>
          </li>
          <li>
            <a href="#">おもちゃ</a>
          </li>
          <li>
            <a href="#">アプリ</a>
          </li>
          <li>
            <a href="#">音楽</a>
          </li>
          <li>
            <a href="#">機械</a>
          </li>
          <li>
            <a href="#">その他</a>
          </li>
        </ul>
        <div class="circleBottomL"></div>
        <div class="circleBottomR"></div>
      </aside>
      <div class="form">
        <div class="circleTopL"></div>
        <div class="circleTopR"></div>
        <h3>投稿フォーム</h3>
        <div class="circleBottomL"></div>
        <div class="circleBottomR"></div>
      </div>
      <div class="transform">
        <a href="recruit.ejs">企業ページへ</a>
      </div>
    </div>
    </body>
</html>
