<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>アイデア創出アプリ</title>
  <meta name="description" content="アイデアのヒントになる場所">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="/stylesheets/style_index.css">
</head>

<body>
  <h1>アイデア共有スペース</h1>
  <h2>ジャンル：食べ物</h2>
  <div class="maincontents">
    <article>
      <div class="twitch">
        <div class="sticky tag idea">
          <p>Title</p>
          <p>カフェインメイト</p>
          <p>Content</p>
          <p>カフェインがたくさん配合されたカロリーメイトってないのかな？</p>
          <p>Name</p>
          <p>くぇい</p>
        </div><br>
        <div class="sticky green idea">
          <p>Title</p>
          <p>食べれるペットボトル</p>
          <p>Content</p>
          <p>飲んだ後に食べられるペットボトルとあると、捨てるのめんどくなくていいよね笑。</p>
          <p>Name</p>
          <p>ロゼ</p>
        </div><br>
        <div class="sticky yellow idea">
          <p>Title</p>
          <p>味変化ガム</p>
          <p>Content</p>
          <p>100回噛むごとに、味が変わるガムとか面白そう笑。あったら絶対買うわ笑。</p>
          <p>Name</p>
          <p>マヌケ大佐</p>
        </div><br>
        <div class="sticky blue idea">
          <p>Title</p>
          <p>球体むすび</p>
          <p>Content</p>
          <p>球体型のおむすびってコンビニとかで売られてないよね？可愛くて好きなんだけどなぁ。</p>
          <p>Name</p>
          <p>たまどかんじろう</p>
        </div><br>
        <div class="sticky purple idea">
          <p>Title</p>
          <p>逆二郎</p>
          <p>Content</p>
          <p>二郎系ラーメンとは真逆の、すごい少ないけどめっちゃうまいラーメンとかおもろそう笑。</p>
          <p>Name</p>
          <p>新木＠ジロリアン</p>
        </div><br>
        <div class="sticky red idea">
          <p>Title</p>
          <p>二次元ぺろぺろ</p>
          <p>Content</p>
          <p>かっこいいorかわいいキャラクターを物理的に食べられる商品とかあったら買い占めるぞ俺。</p>
          <p>Name</p>
          <p>メイショウドドド</p>
        </div><br>
        <div class="sticky tag idea">
          <p>Title</p>
          <p>モンスター（モンスター味）</p>
          <p>Content</p>
          <p>今までに販売されたモンスターエナジーの全ての味を配合したやつを飲んでみたーい。</p>
          <p>Name</p>
          <p>モンスターモンスター</p>
        </div><br>
        <div class="sticky green idea">
          <p>Title</p>
          <p>吹き出しドリンク</p>
          <p>Content</p>
          <p>飲んだら絶対吹き出すような、youtuberむけのドリンクとかどうだろうか。</p>
          <p>Name</p>
          <p>%"す</p>
        </div><br>
        <div class="sticky yellow idea">
          <p>Title</p>
          <p>焼肉ハンバーグ</p>
          <p>Content</p>
          <p>焼肉屋でハンバーグとバンズを売って、お客様がその場でハンバーグ作れたら楽しそう！</p>
          <p>Name</p>
          <p>着ぐるみの外の人</p>
        </div><br>
        <div class="sticky blue idea">
          <p>Title</p>
          <p>クーラードリンク、ホットドリンク</p>
          <p>Content</p>
          <p>モンハンに出てくるクーラードリンクやホットドリンクみたいに、飲んだら一定時間体温が調節できるような飲み物が欲しいなぁ。</p>
          <p>Name</p>
          <p>あさかたな</p>
        </div><br>
        <% ideas.forEach(idea=> { %>
          <div class="sticky blue idea">
            <p>Title</p>
            <p>
              <%= idea.title %>
            </p>
            <p>Content</p>
            <p>
              <%= idea.content %>
            </p>
            <p>Name</p>
            <p>
              <%= idea.username %>
            </p>
          </div><br>
          <% }); %>

            <!-- <footer>
          <div class="">
          aaaa
        </div>
      </footer> -->

      </div>
    </article>
    <aside>
      <div class="circleTopL"></div>
      <div class="circleTopR"></div>
      <h3>ジャンル</h3>
      <ul class="genre">
        <li>
          <a href="#">食べ物</a>
        </li>
        <li>
          <a href="#">おもちゃ</a>
        </li>
        <li>
          <a href="#">アプリ</a>
        </li>
        <li>
          <a href="#">音楽</a>
        </li>
        <li>
          <a href="#">機械</a>
        </li>
        <li>
          <a href="#">その他</a>
        </li>
      </ul>
      <div class="circleBottomL"></div>
      <div class="circleBottomR"></div>
    </aside>
    <div class="form">
      <div class="circleTopL"></div>
      <div class="circleTopR"></div>
      <h3>投稿フォーム</h3>
      <div class="circleBottomL"></div>
      <div class="circleBottomR"></div>
    </div>
    <div class="transform">
      <a href="recruit.ejs">企業ページへ</a>
    </div>
  </div>
</body>

</html>
