<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>アイデア創出アプリ</title>
  <meta name="description" content="アイデアのヒントになる場所">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="/stylesheets/style_index.css">
</head>

<body>
  <h1>アイデア共有スペース</h1>
  <h2>ジャンル：食べ物</h2>
  <div class="maincontents">
    <div class="form">
      <div class="circleTopL"></div>
      <div class="circleTopR"></div>
      <h3>投稿フォーム</h3>
      <form method="post">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="content" placeholder="content">
        <input type="text" name="company" placeholder="company">
        <input type="text" name="email" placeholder="email">
        <input type="submit" value="送信！">
      </form>
      <div class="circleBottomL"></div>
      <div class="circleBottomR"></div>
    </div>
    <div class="transform">
      <a href="recruit">企業ページへ</a>
    </div>
  </div>
</body>

</html>