<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>アイデア創出アプリ</title>
    <meta name="description" content="アイデアのヒントになる場所">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="stylesheets/style_recruit.css">
  </head>
  <body>
    <h1>アイデア募集スペース</h1>
    <h2>ジャンル：食べ物</h2>
    <div class="maincontents">
      <article>
        <div class="twitch">
          <div class="sticky tag idea">
            <p>Title</p>
            <p>新しいお菓子案募集中！</p>
            <p>Content</p>
            <p>小さい子供向けの知育お菓子のようなものを考えています。
              200円〜300円程度で売り出せるような知育お菓子のアイデア募集です！</p>
            <p>Name</p>
            <p>〇〇会社</p>
            <p>　</p>
            <p>投稿フォーム</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div><br>
          <div class="sticky green idea">
            <p>Title</p>
            <p>あなたの食べたいドーナツの味は？</p>
            <p>Content</p>
            <p>7月から新しいドーナツのフレーバーを作ろうと思っています。
              なので、みなさんが食べて見たいと思うドーナツの味を教えてください！</p>
            <p>Name</p>
            <p>〇〇会社</p>
            <p>　</p>
            <p>投稿フォーム</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div><br>
          <div class="sticky yellow idea">
            <p>Title</p>
            <p>【急募】新しいインスタント食品</p>
            <p>Content</p>
            <p>我が社では3分〜5分程度で作れる新しいインスタント食品を考えています。
              みなさんが食べたいと思う新しいインスタント食品の案をお待ちしています。
              技術的なことは考えずに気軽に投稿してください！</p>
            <p>Name</p>
            <p>〇〇会社</p>
            <p>　</p>
            <p>投稿フォーム</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div><br>
          <div class="sticky blue idea">
            <p>Title</p>
            <p>みんなで新しいエナジードリンクを作ろうぜ！！</p>
            <p>Content</p>
            <p>次に発売する味は...なんと、みんなからのアンケートで決めるぜ！
              みんなが飲みたい味やフレーバーをどんどん教えてくれよな！</p>
            <p>Name</p>
            <p>〇〇会社</p>
            <p>　</p>
            <p>投稿フォーム</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div><br>
          <div class="sticky purple idea">
            <p>Title</p>
            <p>あなたのプロテインはどこから？</p>
            <p>Content</p>
            <p>みんながどんな味のプロテインを食べたいか、
              どんなプロテイン食品を食べたいか調査しています！
              筋トレ好きのみなさんや、プロテイン愛好家はぜひアイデアを投稿してください！</p>
            <p>Name</p>
            <p>〇〇会社</p>
            <p>　</p>
            <p>投稿フォーム</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div><br>
          <div class="sticky red idea">
            <p>Title</p>
            <p>パン好き集まれー！</p>
            <p>Content</p>
            <p></p>
            <p>Name</p>
            <p>〇〇会社</p>
            <p>　</p>
            <p>投稿フォーム</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div><br>
          <div class="sticky tag idea">
            <p>Title:</p>
            <p>Content: asdfghjk</p>
            <p>Name:</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky green idea">
            <p>Title:</p>
            <p>Content: asdfghjk</p>
            <p>Name:</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky yellow idea">
            <p>Title:</p>
            <p>Content: asdfghjk</p>
            <p>Name:</p>
            <p>いいね数　５</p>
          </div><br>
          <div class="sticky blue idea">
            <p>Title:</p>
            <p>Content: asdfghjk</p>
            <p>Name:</p>
            <p>いいね数　５</p>
          </div><br>
          <!-- <footer>
            <div class="">
              aaaa
            </div>
          </footer> -->
        </div>
      </article>
      <aside>
        <div class="circleTopL"></div>
        <div class="circleTopR"></div>
        <h3>ジャンル</h3>
        <ul class="genre">
          <li>
            <a href="#">食べ物</a>
          </li>
          <li>
            <a href="#">おもちゃ</a>
          </li>
          <li>
            <a href="#">アプリ</a>
          </li>
          <li>
            <a href="#">音楽</a>
          </li>
          <li>
            <a href="#">機械</a>
          </li>
          <li>
            <a href="#">その他</a>
          </li>
        </ul>
        <div class="circleBottomL"></div>
        <div class="circleBottomR"></div>
      </aside>
      <!-- <div class="form">
        <div class="circleTopL"></div>
        <div class="circleTopR"></div>
        <h3>投稿フォーム</h3>
        <div class="circleBottomL"></div>
        <div class="circleBottomR"></div>
      </div> -->
      <div class="transform">
        <a href="index.ejs">共有ページへ</a>
      </div>
    </div>
    </body>
</html>
