<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ログイン</title>
</head>
<body>
  <main>
    <h1>登録</h1>
    <form action="/signup" method="post" class="form">
      <p class="form__text">
        <input type="text" name="email">
      </p>
      <p class="form__text">
        <input type="text" name="password">
      </p>
      <input type="submit" value="signup">
    </form>
    <a href="/login">ログイン</a>
  </main>
</body>
</html>