@charset "UTF-8";
h1 {
  text-align: center;
  color: #fff;
}
h2 {
  text-align: center;
  color: #fff;
}
h3 {
  font-size: 25px;
  text-align: center;
}
body {
  background-color: #014E29;
}

.maincontents {

}
.sticky.tag {
  text-decoration: none;
  padding: 0.5rem;
  background: #fff;
  border-left: solid 15px #000;
  color: #000;
}
.sticky.green {
  background: #fff;
  border-left: solid 15px #58ad5a;
  color: #58ad5a;
}
.sticky.yellow {
  background: #fff;
  border-left: solid 15px #efcc4c;
  color: #efcc4c;
}
.sticky.blue {
  background: #fff;
  border-left: solid 15px #5bb1fc;
  color: #5bb1fc;
}
.sticky.purple {
  background: #fff;
  border-left: solid 15px #7e5bfc;
  color: #7e5bfc;
}
.sticky.red {
  background: #fff;
  border-left: solid 15px #ff3c3c;
  color: #ff3c3c;
}

article {
  position: absolute;
  left: 30%;
  width: 40%;
  height: 20%;
}
aside {
  position: fixed;
  left: 5%;
  width: 20%;
  height: 60%;
  background: #fff;
  color: #000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}
.form {
  position: fixed;
  right: 5%;
  width: 20%;
  height: 50%;
  background: #fff;
  color: #000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}
.transform {
  position: fixed;
  top: 77%;
  right: 5%;
  width: 20%;
  height: 10%;
  text-align: center;
  padding: 15px;
  border: solid 5px #fff;
}
.transform a {
  color: #fff;
}
a:hover {
  color:#FF0099;
}
.strap {
  position: relative;
  transform: rotate(225deg);
  transform-origin: 0% 0%;
  border-style: solid;
  border-width: 10px;
  border-radius: 5%;
  position: relative;
  top: 5%;
  left: 50%;
}

.idea {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  word-break: break-all;
}
.genre {
  text-align: center;
  list-style: none;
}
.genre li {
  font-size: 17px;
  margin-top: 17px;
}
.seal {
  border-style: solid;
  border-width: 10px;
}
.circleTopL {
  position: relative;
  top: 5%;
  left: 5%;
  width: 10%;
  height: 5%;
  border-radius: 50%;
  border: solid 3px #FF3939;
  background-color: #FF3939;
}
.circleTopR {
  position: relative;
  left: 85%;
  width: 10%;
  height: 5%;
  border-radius: 50%;
  border: solid 3px #FF3939;
  background-color: #FF3939;
}
.circleBottomL {
  position: relative;
  top: 10%;
  left: 5%;
  width: 10%;
  height: 5%;
  border-radius: 50%;
  border: solid 3px #FF3939;
  background-color: #FF3939;
}
.circleBottomR {
  position: relative;
  top: 5%;
  left: 85%;
  width: 10%;
  height: 5%;
  border-radius: 50%;
  border: solid 3px #FF3939;
  background-color: #FF3939;
}
.form .circleTopL {
  width: 8%;
  height: 5%;
  border: solid 3px #F5DE6F;
  background-color: #F5DE6F;
}
.form .circleTopR {
  width: 8%;
  height: 5%;
  border: solid 3px #F5DE6F;
  background-color: #F5DE6F;
}
.form .circleBottomL {
  top: 45%;
  width: 8%;
  height: 5%;
  border: solid 3px #F5DE6F;
  background-color: #F5DE6F;
}
.form .circleBottomR {
  top: 40%;
  width: 8%;
  height: 5%;
  border: solid 3px #F5DE6F;
  background-color: #F5DE6F;
}
footer {
  position: relative;
  bottom: 0;
  background-color: #7F3102;
  padding: 26px 0;
}
